<!--

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
  <head>
    <title>OAuth Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cmefriendlyrobot.herokuapp.com/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-12 text-center">
      <img src="https://cmefriendlyrobot.herokuapp.com/assets/small-logo.png" class="img-responsive" style="max-width: 220px; margin: auto;" alt="Digicel">
  </div>
  <div class="col-md-12">
    <form method="get" action="https://cmefriendlyrobot.herokuapp.com/validateAuth?redirect_uri=<%= redirectURISuccess %>&account_linking_token=<%= accountLinkingToken %>">
      <input type="text" value="<%= accountLinkingToken %>">
  <div class="form-group">
    <label for="phone-number">Phone Number</label>
    <input type="tel" class="form-control" id="phone-number" placeholder="Phone Number" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary" style="width: 100%; background: #e52a1b; border: 1px solid #e52a1b;">Login</button>
  </div>
  </form>
  </div>
</div>
</div>



  </body>
</html>
