<!--

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
  <head>
    <title>OAuth Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cmefriendlyrobot.herokuapp.com/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-12 text-center">
      <h3>Logged In.</h3>
  </div>

</div>
</div>



  </body>
</html>
